<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52182975446-n9ogg8e3v21it77gsd13d9q6c98vbc52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52182975446-n9ogg8e3v21it77gsd13d9q6c98vbc52</string>
	<key>API_KEY</key>
	<string>AIzaSyCGjB9Il5h1v0nVvxQa7bgDN_OQQcs75EY</string>
	<key>GCM_SENDER_ID</key>
	<string>52182975446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pingo.pingo</string>
	<key>PROJECT_ID</key>
	<string>pingo-a2f34</string>
	<key>STORAGE_BUCKET</key>
	<string>pingo-a2f34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52182975446:ios:455557ab0fb37d976f5a77</string>
</dict>
</plist>